html,
body {
  height: 100%;

  margin: 0;
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 22.44%;

  background-color: #333333;
  height: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.75);
}

.inbox_msg {
  clear: both;
  overflow: hidden;
  height: 100vh;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding: 5px;
}

.filaNombreSalir {
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
}

.recent_heading h4 {
  color: #7674fe;
  font-size: 18px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chatSingularFila {
  overflow: hidden;
  clear: both;
}

.padreDeChatSingularFila {
  cursor: pointer;
  margin: 0;
  width: 91.18%;
  height: 8.45%;

  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 2.92%;
  margin-top: 1%;
  flex-shrink: 0;
  background-color: #484848;
}
.padreDeChatSingularFila:hover {
  background-color: #929292;
}

.inbox_chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}

.inbox_chat::-webkit-scrollbar {
  width: 6px;
}
.inbox_chat::-webkit-scrollbar-thumb {
  background: #c1bbbb;
  border-radius: 4px;
}

.active_chat {
  background: rgb(92, 158, 204);
}

.mensajeEntranteAvatar {
  display: inline-block;
  width: 5%;
  margin-left: 1%;
}
.contenedorPadreMensajeEntrante {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5% 0 1.5%;
}

.mensajeEntranteTextoYHora {
  width: 44%;

  border-radius: 15px;
  padding: 1.3%;
  background-color: #1b1b1b;
}

.mensajeEntranteTexto {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 100%;
  color: #ffffff;
  word-wrap: break-word;
  text-align: justify;
}

.received_withd_msg {
  width: 57%;
}

.segundoContenedor {
  padding-top: 2.5%;
  background-color: #333333;
  width: 100%;
  height: 100vh;
}
.contendorTodosMensajes {
  height: 90%;
  overflow-y: scroll;
}
.contendorTodosMensajes::-webkit-scrollbar {
  width: 6px;
}

.contendorTodosMensajes::-webkit-scrollbar-thumb {
  background: #c1bbbb;
  border-radius: 4px;
}

.contenedorPadreMensajeEnviado {
  overflow: hidden;
  margin: 1.5% 0 1.5%;
}

.subcontenedorMensajeHora {
  float: right;
  width: 44%;
  background-color: #2138cc;
  border-radius: 15px;
}
.mensajeEnviadoTexto {
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 2% 4% 2% 4.1%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 100%;
  word-wrap: break-word;
  text-align: justify;
}
.mensajeEnviadoHora {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: white;
  text-align: right;
  margin-right: 3%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #7674fe none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 70px;
}

.extra_space {
  height: 150px;
}

.search-bar:focus,
.write_msg:focus {
  outline: none;
}

textarea {
  border: 0px solid;
  margin-top: 5px;
  outline: none;
  resize: none;
  width: 100%;
}

.middle-screen {
  position: absolute;
  top: 40%;
  right: 0;
  width: 60%;
  text-align: center;
}

.nombreUsuarioLogeado {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 120%;
  color: #ffffff;
}

.botonSalir {
  width: 55%;

  border-radius: 15px;
  background-color: #333333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 120%;
}

.botonSalir:hover {
  background-color: #484848;
}

.chatSingularContenedorImagen {
  margin-left: 3%;
  width: 17.3%;
  height: 78.55%;
  border-radius: 50%;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.chatSingularNombre {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 100% !important;
  color: #ffffff !important;
}
