@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
.fatherPrincipal {
  width: 100%;
  height: 100vh;
  background-image: url("/public/loginbackground.jpg");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formularioPersonalizado {
  width: 40.46%;
  height: 91.01vh;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  border-radius: 30px;
}
.elLogo {
  margin-top: 1%;
  width: 35%;
  height: 30%;
  border-radius: 30px;
  margin-bottom: 2.5%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

.formularioEslogan {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150%;
  color: #ffffff;
  margin-bottom: 3%;
  text-align: center;
}

.formularioEtiqueta {
  width: 85%;

  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 130%;
  color: #ffffff;
  margin-bottom: 1%;
  text-align: justify;
}
.correoInput {
  width: 85%;
  height: 8.5%;
  background-color: #333333;

  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border: none;
  color: #9c9898;
  font-size: 120%;
  padding-left: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.correoInput:hover {
  background-color: #484848;
}

.contenedorFila {
  margin-top: 2%;

  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.checkboxPersonalizado {
  accent-color: black;
  width: 10%;
  height: 10%;
}

.botonPersonalizado {
  width: 55%;
  height: 7.5%;
  border-radius: 15px;
  background-color: #333333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 120%;
}
.botonPersonalizado:hover {
  background-color: #484848;
}

.textoPrincipalRegistrarse {
  margin: 0;
  padding: 0;
  margin-top: 1.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 190%;
  color: #ffffff;
  margin-bottom: 3%;
  text-align: center;
}

.etiquetaRegistro {
  width: 85%;

  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 125%;
  color: #ffffff;
  margin-bottom: 1%;
  text-align: justify;
  margin-top: 3%;
}

.botonCrearCuenta {
  width: 45%;
  height: 40%;

  border-radius: 15px;
  background-color: #333333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 120%;
}
.botonCrearCuenta:hover {
  background-color: #484848;
}
.contenedorColumna {
  margin-top: 3%;

  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.textoTienesCuenta {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 130%;
  color: #ffffff;
  margin-bottom: 1%;
  text-align: justify;
}
