body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  form {
    background-color: #fff;
    color: #3b3b3b;
    padding: 3rem;
    border-radius: 8px;
    width: 350px;
  }
  
  form div {
    margin-bottom: 1.75rem;
  }

  form div h1 {
    text-align: center;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  label svg {
    margin-right: 0.5rem;
    color: #d39228;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input:focus {
    border-color: #3b3b3b;
    outline: none;
  }
  
  button {
    display: block;
    margin: auto;
    width: 50%;
    padding: 0.8rem;
    background-color: #d39228;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
   
  }
  
  button:hover {
    background-color: #043E6A;
  }
  
  p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
  }
  
  a {
    color: #043E6A;
    text-decoration: none;
    margin-left: 0.2rem;
  }
  
  a:hover {
    text-decoration: underline;
  }
  